.bar {
	margin-left: 25%;
	margin-top: 0px;
	display: block;
	width: 50%;
	height: 10px;
	background-color: grey;
}
.skills{
	float: left;
	height: 10px;
	background-color: #8FBBFF;
}
.python{
	width: 70%;
}
.java{
	width: 90%;
}
.ai{
	width: 65%
}
.html{
	width: 80%
}
.css{
	width: 75%
}

.righted-porto {
	text-align: right;
}
.centered-porto{
	text-align: center;
}
.socmed-icon{
	max-width: 60px;
	max-height: 60px;
	margin-top:10%;
	margin-right: 8%;
}
.landing-page{
	background-color: #FFD98E;
}
.orange{
	background-color: #FFD98E;
}

.white{
	background-color: #FFFFFF;
}

@keyframes landingmove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}
/*
	Taken and edited from :
	https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp
*/
.keyframes-move{
	width: 220px;
  	height: 220px;
  	border-radius: 50%;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	background: white;
  	position: relative;
  	-webkit-animation: landingmove 5s infinite;
  	animation: landingmove 5s infinite;
}
.click-me{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


@media only screen and (max-width: 1000px) {

	.bye{
		display: none;
	}

  .socmed-icon{
		display: none;
		/* max-width: 10vw;
		max-height: 10vw;
		margin-top: -1%;
		margin-left: 10%;
		margin-right: 10%; */
	}

 .response-text{
  	font-size: 1.2rem;
  }
 .response-text-big{
 	font-size: 2rem;
 }

}

.profpic{
	max-width: auto;
	height:auto;
	margin-top: 7vw;
	border-radius : 50%;
	transform: rotate(90deg);
}
.orange{
	background-color: #FFD98E;
}

.delete-all{
	a:link, a:visited;
  background-color: #f44336;
  color: white;
	margin-top:5%;
  padding: 1vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	a:hover, a:active;
  background-color: red;
}
