{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fredy's About</title>
</head>
{% block content %}
{% load static %}
<body style = "background-image: url({% static 'aboutback.png' stati c%})">
  <div class = "container">
    <div class = "row">
      <div class="col-xl-4 col-md-6 col-sm-8">
        {%load static%}
        <img src="{% static 'profpic.JPG' static %}" class="img-fluid profpic" alt="Responsive image">
      </div> 
      <div class = "col-xl-8 col-md-6 col-sm-12">
          <h1 style="margin-top: 10vw;margin-left: 4vw;">Greetings</h1>
          <h5 class = "text-justify response-text" style="margin-top: 3%;margin-left: 4vw;"> My name is Fredy Pasaud Marolan Silitonga. I'm currently pursuing my bachelor degree in Fasilkom UI.
          I have a huge curiousity in Data, Algorithm, and Design. I’m hoping to be Software Engineer, Data Scientist, or UI Design in the future.
          Kindly see my Portofolio to know more about my skills, experience, CV, journals, and many more.</h5>        
      </div>
    </div>
  </div>
</body>
{% endblock %}
</html>