{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fredy's Contact</title>
</head>
{% block content %}
{% load static %}
<body style = "background-image: url({% static 'conback.png' static%})">

<div class="container">
  <div class="row">
    <div class= "col">
      <form method="POST">{% csrf_token %}
    <h2 style="margin-top:7%;">Leave me a Message</h2>
    <div class="form-group row align-items-start">
        <div class="col-md-6 col-sm-12">
					{{ form_feed }}
					<button type="submit" class="save btn btn-primary">Save</button>
      </div>
      </div>
  </form>
    </div>
    <div class="col-md-3 col-sm-12">
      <h3 class="bye" style="margin-top:30%;">Find Me On</h3>
			<span><img src="{% static 'twitter_icon.svg' static %}" class="socmed-icon" style="margin-left: -40%;">
				<img src="{% static 'linkedin.png' static %}" class="socmed-icon">
				<img src="{% static 'github_logo.png' static %}" class="socmed-icon"></span>
				<span><img src="{% static 'gmail_logo.svg' static %}" class="socmed-icon"></span>
    </div>
  </div>
</div>

</body>
{% endblock %}
</html>
