{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete Success!</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h2>Delete Success</h2>
      <a href="{% url 'schedule_list' %}">Back to Schedule List</a>
    </div>
    {% endblock %}
  </body>
</html>
