<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		{% load static %}
		<link rel="stylesheet" href="{% static 'bootstrap-fredy.css' static %}">
		{% load static %}
		<link rel="stylesheet" href="{% static 'style-fredy.css' static %}">
		<title>Fredy's Web</title>
	</head>
	{% block content %}
	<body class="landing-page">
		<div class="container centered-porto">
			<h1 style="margin-top: 10%;font-size: 60pt">Hello, I'm Fredy</h1>
		</div>
		<div class="container keyframes-move centered-porto">
			<button type="button" class="btn btn-lg btn-outline-dark" id = "welcomeButton" style="margin-top:45%;" onclick="window.location.href={% url 'about' %}">Get to know me</button>
		</div>
	</body>
	{% endblock %}
</html>
