<nav class="navbar navbar-expand-xl navbar-dark" style = "background-color: #212121;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a class="navbar-brand" href="{% url 'index' %}" id="fredyWeb" >Fredy's Web</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item {{ about_page }}">
        <a class="nav-link" href="{% url 'about' %}" id="aboutNav">About <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item {{ portofolio_page }}">
        <a class="nav-link" href="{% url 'portofolio' %}" id="portoNav">Portofolio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item {{ contact_page }}" >
        <a class="nav-link" href="{% url 'contact' %}" id="contactNav">Contact <span class="sr-only">(current)</span></a>
    </li>
    <li class = "nav-item {{ schedule_page }}">
      <a class = "nav-link" href="{%  url 'schedule_create' %}" id="shchedCreNav">Schedule Maker <span class="sr-only">(current)</span></a>
    </li>
    <li class = "nav-item {{ schedule_view }}">
      <a class = "nav-link" href="{%  url 'schedule_list' %}" id = "schedViewNav">Schedule View <span class="sr-only">(current)</span></a>
    </li>
    <li class = "nav-item {{ login_view }}">
      <a class = "nav-link" href="{%  url 'login' %}" id="accNav">Account<span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>
