{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fredy's Portofolio</title>
</head>
{% block content %}
{% load static %}
<body style = "background-image: url({% static 'portoback.png' static%})">
<div class = "container centered-porto">
  <div col-sm-12>
    <button style="margin-top:5%; margin-bottom:2%;" class="btn btn-primary btn-lg btn-block" id="myskills" data-toggle="collapse" data-target="#mySkills" aria-expanded="false" aria-controls="collapseExample">My Skills</button>
  <ul class="collapse" style="list-style: none" id ="mySkills">
    <li>
      <h5 class="response-text">Python</h5><span class="bar"><span class="skills python"></span></span>
    </li>
    <li style="margin-top: 1%">
      <h5 class="response-text">Java</h5><span class="bar"><span class="skills java"></span></span>
    </li>
    <li style="margin-top: 1%">
      <h5>Adobe Ilustrator</h5><span class="bar"><span class="skills ai"></span></span>
    </li>
    <li style="margin-top: 1%">
      <h5 class="response-text">HTML</h5><span class="bar"><span class="skills html"></span></span>
    </li>
    <li style="margin-top: 1%">
      <h5 class="response-text">CSS</h5><span class="bar"><span class="skills css"></span></span>
    </li>
  </ul>
</div>
  </div>

<div class = "container" >
  <div class="centered-porto">
    <button class="btn btn-primary btn-lg btn-block" id="myexperience" data-toggle="collapse" data-target="#myExperience" aria-expanded="false" aria-controls="collapseExample">My Experience</button>
  <ul style="list-style: none;" class="collapse" id="myExperience">
    <li>
      <h4 class="response-text">
          Intern at Google Summer Code
      </h4> <span></span><small class="text-muted">May 2020 - September 2020</small>
    </li>
    <li>
      <h4 class="response-text" style="margin-top: 1%">
        Teaching Assistant of Data Structure and Algorithm
      </h4> <span></span><small class="text-muted">September 2020 - December 2020</small>
    </li>
    <li>
      <h4 class="response-text" style="margin-top: 1%">
        Participant of Apple Developer Program 2020
      </h4> <span></span><small class="text-muted">September 2021 - December 2021</small>
    </li>
  </ul>
  </div>
</div>
<div class="container">
  <div class="centered-porto">
    <button class="btn btn-primary btn-lg btn-block" id="myskills" data-toggle="collapse" data-target="#myJournals" aria-expanded="false" aria-controls="collapseExample">My Journals</button>
  <ul class="collapse" style="list-style: none;" id="myJournals">
    <li>
      <h3 class="response-text">
        Indonesia and Cashless
      </h3> <span></span><small class="text-muted">"Are Indonesia ready for cashless society?"</small>
    </li>
    <li>
      <h3 class="response-text">
      Artificial Intelligence at This Era
    </h3> <span></span><small class="text-muted">"Are Artificial Intelligence is the last invention of man?"</small>
    </li>
    <li>
      <h3 class="response-text">
        How Big Data Can Boost Everything
      </h3> <span></span><small class="text-muted">"How to Implement Big Data in your project?"</small>
    </li>
  </ul>
  </div>
</div>
</body>
{% endblock %}
</html>
