{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    {% if schedules %}
    {% for schedule in schedules %}
        <div class="container col-xl-6 white">
            <div style="margin-top:2%;">
                <h2>{{ schedule.nama_kegiatan }}</h2>
                <h4>{{ schedule.tanggal }} || {{ schedule.jam}}</h4>
                <a href="{{ schedule.pk }}">View Details</a>
          </div>
        </div>
    {% endfor %}
    <div class="container col-xl-6">
      <a class="delete-all" href="{% url 'schedule_delete' %}">Delete All</a>
    </div>
    {% else %}
    <div class="container">
      <h3>No Schedule, yay!</h3>
    </div>
    {% endif %}
{% endblock %}
  </body>
</html>
