{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<title>Schedule</title>
</head>
{% block content %}
<body>
	<div class="container">
		{% if user.is_authenticated %}
		<h2>New Schedule</h2>
	</div>
			<div class="container">
				<div class="col-xl-8">
					<form method="POST">{% csrf_token %}
						 {{ form.as_p }}
						 <button type="submit" class="save btn btn-primary">Save</button>
				 </form>
				</div>
			</div>
			{% else %}
			<h2>You must log in first</h2>
			{% endif %}
</body>
{% endblock %}
</html>
