{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule Details</title>
  </head>
  <body class="orange">
    {% block content %}
    <div class="container col-xl-6">
        {% if schedule.tanggal %}
            <div class="white">
                <h2 style="text-align : center; margin-top : 10%;">Nama Kegiatan : {{ schedule.nama_kegiatan }}</h3>
                <h4 style="text-align : center;">{{ schedule.tanggal}} || {{ schedule.jam }} || {{ schedule.tempat }} </h5>
                  <a class="delete-all" href="{% url 'delete_selected' id=schedule.id %}">Delete Schedule</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
  </body>
</html>
